BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
BreakBeforeBraces: Attach
NamespaceIndentation: None
PointerAlignment: Left
SortIncludes: CaseInsensitive
SpacesBeforeTrailingComments: 2
Standard: c++17
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: '^<Q'
    Priority: 2
  - Regex: '^<boost/'
    Priority: 3
  - Regex: '^<nlohmann/'
    Priority: 4
  - Regex: '^<'
    Priority: 5
